.env
main.py
tests
venv
main_products.json
migration_scrape_runs.sql
production_backend_guide_v2.md
production_backend_guide_v3.md
__pycache__/
.pytest_cache/
spiders_architecture
docs_research
html_tags2.txt
html_tags.txt
main_targets.json
migration_real_estate.sql
migration_leads.sql
airbnb.txt
listings.json
vrbo.txt
amazon_script_tag.txt
best_buy_script_tag.txt
misc*